<div>
    <div class="mb-3">
        <form ng-submit="zc.dodavanje_zaposlenog()">
            <div class="form-group">
                <label for="ime">Ime</label>
                <input type="text" class="form-control" id="ime" placeholder="Ime" ng-model="zc.ZaposleniCtrl.Ime"
                    required>
            </div>
            <div class="form-group">
                <label for="prezime">Prezime</label>
                <input type="text" class="form-control" id="prezime" placeholder="Prezime" ng-model="zc.ZaposleniCtrl.Prezime"
                    required>
            </div>
          
            <div class="form-group">
                <label for="prebivaliste">Prebivaliste</label>
                <input type="text" class="form-control" id="prebivaliste" placeholder="Prebivaliste" ng-model="zc.ZaposleniCtrl.prebivaliste"
                    required>
            </div>
            <div class="form-group">
                <label for="drzava">Drzava</label>
                <input type="text" class="form-control" id="drzava" placeholder="Drzava" ng-model="zc.ZaposleniCtrl.drzava"
                    required>
            </div>
            <input type="submit" class="btn btn-primary" value="Dodaj">
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>R. br.</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Zaposlen</th>
                <th>Prebivaliste</th>
                <th>Drzava</th>
                <th></th>
                <th class="text-right">Akcija</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="zaposlen in zc.zaposleni">
                <td>{{$index+1}}.</td>
                <td>{{zaposlen.Ime}}</td>
                <td>{{zaposlen.Prezime}}</td>
                <td>{{zaposlen.zaposlen}}</td>
                <td>{{zaposlen.datum}}</td>
                <td>{{zaposlen.prebivaliste}}</td>
                <td>{{zaposlen.drzava}}</td>
                <td class="text-right">
                    <button class="btn btn-danger btn-sm" ng-click="zc.otpustanje_zaposlenog($index+1)"><i class="fas fa-trash-alt"></i>
                        Logicko brisanje</button>
                    
                </td>
            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
</div>